body,
html {
  overflow-x: hidden;
}

:root {
  .color1 {
    color: #e7ea2b;
  }
  .color2 {
    color: #ffff64;
  }
  .color3 {
    color: #1f1d00;
  }
  .color4 {
    color: #787772;
  }
  .color5 {
    color: #e2e2e2;
  }
  .color6 {
    color: #c35f3a;
  }
}

.jumbo {
  font-size: 75px;
}

.margin {
  margin-left: 90px;
}

.line-color {
  border-color: #c35f3a;
}

/* MyForm.css */

.my-form {
  width: 700px;
}

.my-button {
  background-color: #c35f3a; /* Imposta il colore di sfondo del bottone */
  border: none; /* Rimuovi il bordo del bottone se necessario */
}

.border-receiver {
  border: 1px solid #c35f3a;
  border-radius: 600px;
  width: 500px;
}
